@import '../.././scss/break-points.scss';

@keyframes headmove {
    0% {transform: translateY(0px);}
    33% {transform: translateY(10px);}
    66% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}

@keyframes tailmove {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(20deg);}
    75% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}

@keyframes legmove {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(20deg);}
    75% {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}

@keyframes gallop {
    0% {transform: translateX(0px);}
    33.33% {transform: translateX(120px);}
    38.89% {transform: translateX(120px) rotateZ(-90deg);}
    44.44% {transform: translateX(120px) translateY(-20px) rotateZ(-90deg);}
    50% {transform: translateX(120px) translateY(-20px) rotateZ(-180deg);}
    83.33% {transform: translateX(0px) translateY(-20px) rotateZ(-180deg);}
    88.89% {transform: translateX(0px) translateY(-20px) rotateZ(-270deg);}
    94.44% {transform: translateX(0px) translateY(0px) rotateZ(-270deg);}
    100% {transform: translateX(0px);}
}

// @keyframes gallop {
//     0% {transform: translateX(0px);}
//     41.67% {transform: translateX(360px);}
//     44.44% {transform: translateX(360px) rotateZ(-90deg);}
//     47.22% {transform: translateX(360px) translateY(-20px) rotateZ(-90deg);}
//     50% {transform: translateX(360px) translateY(-20px) rotateZ(-180deg);}
//     91.67% {transform: translateX(0px) translateY(-20px) rotateZ(-180deg);}
//     94.44% {transform: translateX(0px) translateY(-20px) rotateZ(-270deg);}
//     97.22% {transform: translateX(0px) translateY(0px) rotateZ(-270deg);}
//     100% {transform: translateX(0px);}
// }

.header {
    min-width: 590px;
    min-height: 90px;
    padding: 0;
    height: 6.8%;
    background: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    @media screen and (max-width: $break-collapse) {
        min-width: 250px;
    }
}

.header .container {
    width: 975px;
    min-width: 590px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 200;
    @media screen and (max-width: $break-collapse) {
        min-width: 250px;
    }
}

.logoContainer {
    z-index: 200;
    display: flex;
}

.topLogo {
    min-width: 100px;
    min-height: 80px;
    background: no-repeat center url(../images/cute_logo_body.png);
    background-size: contain;
    z-index: 5;
}

.topLogoMovingHead {
    min-width: 45px;
    min-height: 45px;
    padding-left: 25px;
    position: relative;
    left: -75px;
    top: -20px;
    background: no-repeat center url(../images/deerhead.png);
    background-size: 45px;
    transition: 1s;
    z-index: 5;
}

.topLogoMovingTail {
    min-width: 15px;
    height: 15px;
    position: relative;
    left: -148px;
    top: 20px;
    background: center no-repeat url(../images/deertail.png);
    background-size: 11px;
    z-index: 5;
}

.legMove {
    min-width: 10px;
    height: 10px;
    position: relative;
    left: -133px;
    top: 50px;
}

#logo {
    width: 100px;
    height: 80px;
    display: flex;
}

#logo:hover {
    width: 100px;
    height: 80px;
    display: flex;
    animation-name: gallop;
    // animation-duration: 36s;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-delay: 5s;
}

#firstLeg {
    background: center no-repeat url(../images/first_leg.png);
    background-size: 8px;
    z-index: 4;
}

#secondLeg {
    background: center no-repeat url(../images/second_leg.png);
    left: -152px;
    background-size: 8px;
    z-index: 4;
}

#thirdLeg {
    background: center no-repeat url(../images/third_leg.png);
    left: -171px;
    background-size: 8px;
    z-index: 4;
}

#fourthLeg {
    background: center no-repeat url(../images/fourth_leg.png);
    left: -189px;
    background-size: 8px;
    z-index: 4;
}

#logo:hover #head {
    animation-name: headmove;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#logo:hover #tail {
    transform-origin: bottom center;
    animation-name: tailmove;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#logo:hover .legMove {
    transform-origin: top center;
    animation-name: tailmove;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#logo:hover #firstLeg {
    animation-delay: 5s;
}

#logo:hover #secondLeg {
    animation-delay: 5.2s;
}

#logo:hover #thirdLeg {
    animation-delay: 5.4s;
}

#logo:hover #fourthLeg {
    animation-delay: 5.6s;
}

.logoText {
    min-width: 95px;
    height: 15px;
    position: relative;
    left: -99px;
    top: 64px;
    background: no-repeat url(../images/logo_text.png);
    background-size: 95px;
}

.navContainer {
    min-width: 540px;
    max-width: 540px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: $break-small) {
        min-width: 420px;
    }
    @media screen and (max-width: $break-collapse) {
        min-width: 50px;
    }
}

.navigation {
    color: white;
    padding: 0px 17px;
    border-right: solid rgb(48, 48, 48) 1px;
    @media screen and (max-width: $break-small) {
    padding: 0px 5px;
    }
    @media screen and (max-width: $break-collapse) {
    display: none;
    }
}

.end {
    border: none;
    padding-right: 0;
}

.hambrugerMenu {
    padding: 4px 0px;
    height: 18px;
    width: 25px;
    display: none;
    @media screen and (max-width: $break-collapse) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 200;
    }
}

.menuIcon {
    width: 21px;
    height: 2px;
    background-color: white;
}

.menuIconContainer{
    max-width: 25px;
    width: 21px;
    height: 2px;
    position: relative;
    overflow: hidden;
}

input[type=checkbox]:checked ~ label > .menuIconContainer > .menuIcon.second {
    transform: translateX(25px);
    transition: transform 0.5s ease-in-out;
}

input[type=checkbox]:checked ~ label >  .menuIcon {
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

input[type=checkbox]:checked ~ label >  .menuIcon.first {
    transform: rotate(-45deg);
}

input[type=checkbox]:checked ~ label >  .menuIcon.third {
    transform: rotate(45deg);
}

input[type=checkbox] ~ label > .menuIconContainer > .menuIcon {
    transition: transform 0.5s ease-in-out;
}

input[type=checkbox] ~ label > .menuIcon {
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

input[type=checkbox] {
    display: none;
}

.dropDown {
    display: none;
    @media screen and (max-width: $break-collapse) {
    padding: 0;
    width: 100%;
    height: 160px;
    background: rgb(25, 25, 25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: -30px;
    transform: translateX(49%) scale(0.01, 0.01);
    left: 0px;
    transition: 0.5s ease-in-out, z-index;
    }
}

label.dropMenu {
    width: 200px;
    text-align: center;
    line-height: 30px;
    color: white;
    cursor: pointer;
}

input[type=checkbox]:checked ~ .dropDown {
    left: 0px;
    transform: translateY(120px);
    transition: 0.5s ease-in-out, z-index;
    display: flex;
}

input[type=checkbox]:checked ~ .dropDown .highlightedDrop {
    transition-delay: 0.5s;
    transition: 0.5s ease-in-out, z-index;
    position: relative;
    transform: scale(1, 1);
}
.highlighted{
    padding: 0px 17px;
    color: rgb(52, 161, 228);
    border-right: solid rgb(48, 48, 48) 1px;
    @media screen and (max-width: $break-small) {
    padding: 0px 5px;
    }
    @media screen and (max-width: $break-collapse) {
    display: none;
    }
}

.highlightedDrop {
    width: 200px;
    text-align: center;
    line-height: 30px;
    color: rgb(52, 161, 228);
    transform: translateX(49%) scale(0.1, 0.1);
    transition-delay: 0.5s;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
