<header class="header">
    <div class="container">
        <a class="logoContainer" href="index.html">
            <div id="logo">
                <div class="topLogo"></div>
                <div id="head" class="topLogoMovingHead"></div>
                <div id="tail" class="topLogoMovingTail"></div>
                <div id="firstLeg" class="legMove"></div>
                <div id="secondLeg" class="legMove"></div>
                <div id="thirdLeg" class="legMove"></div>
                <div id="fourthLeg" class="legMove"></div>
            </div>
            <div class="logoText"></div>
        </a>
        <ul class="navContainer">
            <li><a #link [routerLink]="['/']" class="navigation">Home</a></li>
            <!-- <li><a #link [routerLink]="['/hotel/overview']" class="navigation">Rooms & Suites</a></li> -->
            <li><a #link [routerLink]="['hotels']" class="navigation">Hotels</a></li>
            <li><a #link [routerLink]="['favorites']" class="navigation">Favorites</a></li> 
            <li><a #link [routerLink]="['about']" class="navigation end">About Us</a></li>
            <input type="checkbox" id="toggle">
            <label for="toggle" class="hambrugerMenu">
              <div class="menuIcon first"></div>
              <div class="menuIconContainer">
                  <div class="menuIcon second"></div>
              </div>
              <div class="menuIcon third"></div>
            </label>
            <ul class="dropDown">
                <li><label for="toggle" #dropLink [routerLink]="['/']" class="dropMenu">Home</label></li>
                <!-- <li><label for="toggle" #dropLink [routerLink]="['/hotel/overview']" class="dropMenu">Rooms & Suites</label></li> -->
                <li><label for="toggle" #dropLink [routerLink]="['hotels']" class="dropMenu">Hotels</label></li>
                <li><label for="toggle" #dropLink [routerLink]="['favorites']" class="dropMenu">Favorites</label></li> 
                <li><label for="toggle" #dropLink [routerLink]="['about']" class="dropMenu">About us</label></li>
            </ul>
        </ul>
    </div>
</header>
