<footer class="footer">
    <div class="container">
        <div class="footerText">© 2017 Greenfox Academy. All Rights Reserved</div>
        <ul class="navContainer">
            <li><a #link [routerLink]="['/']" class="navigation">Home</a></li>
            <li><a #link [routerLink]="['hotels']" class="navigation">Hotels</a></li>
            <li><a #link [routerLink]="['favorites']" class="navigation">Favorites</a></li> 
            <li><a #link [routerLink]="['contact']" class="navigation end">Contact Us</a></li>
        </ul>
    </div>
</footer>
