@import '../../../scss/grid.scss';
@import '../../../scss/break-points.scss';

.main-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
    background-color: rgba(235, 235, 235, 1);
    padding-top: 50px;
    padding-bottom: 100px;
}

.room-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 975px;
    min-width: 975px;
    @media screen and (max-width: $break-big) {
        min-width: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.header {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    @media screen and (max-width: $break-big) {
        display: none;
    }
}

.section-description {
    margin-bottom: 40px;
    padding-bottom: 40px;
    max-width: 975px;
    min-width: 975px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    color: rgb(105, 105, 105);
    border-bottom: dashed;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
    @media screen and (max-width: $break-big) {
        width: 320px;
        display: none;
    }
}

.loop-container {
    display: flex;
    @media screen and (max-width: $break-big) {
        display: block;
    }
}

.room-info1 {
    margin-left: 18.5px;
    margin-right: 18.5px;
    @media screen and (max-width: $break-big) {
        margin-top: 50px;
    }
}

.room-info1:nth-child(1) {
    margin-left: 0;
    @media screen and (max-width: $break-big) {
        margin-left: 18.5px;
        margin-top: 0px;
    }
}

.room-info2 {
    margin-left: 18.5px;
    margin-right: 0px;
    @media screen and (max-width: $break-big) {
        margin-top: 50px;
    }
}

.playBtn {
    position: absolute; 
    margin-left: -180px;
    margin-top: 50px;
}

.image {
    height: 148px;
    width: 298px;
    background-size: cover;
    border-color: rgb(216, 216, 216);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.descr {
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    color: rgb(125, 125, 125);
}

.title {
    font-size: 20px;
    font-weight: 100;
    color: rgb(55, 55, 55);
    margin-top: 5px;
    margin-bottom: 5px;
}
