<div class='room-info-container'>
    <div class="room-info" *ngFor="let room of roomImage">
        <div class="image" [ngStyle]="{'background-image': 'url('+room.image+')'}"></div>
        <h3 class="title">{{room.title}} </h3>
        <p class="descr">{{room.description}}</p>
    </div>
    <div class="room-info" *ngFor="let room of roomVideo">
        <iframe width="560" height="315" [src]="room.video" frameborder="0" allowfullscreen></iframe>
        <h3 class="title">{{room.title}} </h3>
        <p class="descr">{{room.description}}</p>
    </div>
</div>