<div class="mainContainer">
    <div class="textBox">
        <h1>Book a room online</h1>
        <p>You can book the room what you like the most.</p>
    </div>
    <div class="elemBox">
        <label>Type of Room:</label>
        <input>
    </div>
    <div class="lesserBox">
        <label>Check-in date:</label>
        <form #myForm="ngForm" novalidate>
            <my-date-picker name="mydate"
                    [(ngModel)]="checkinDate" required></my-date-picker>
        </form>
    </div>
    <div class="lesserBox">
        <label>Check-out date:</label>
        <form #myForm="ngForm" novalidate>
            <my-date-picker name="mydate" 
                    [(ngModel)]="checkoutDate" required></my-date-picker>
        </form>
    </div>
    <div class="miniBox">
        <label>Adults:</label>
        <input>
    </div>
    <div class="miniBox">
        <label>Children:</label>
        <input>
    </div>
    <div class="buttonBox">
        <p>Book now</p>
    </div>
</div>

<script>
    var picker1 = new Pikaday({ field: document.getElementById('checkin') })
    console.log(picker1);
    var picker2 = new Pikaday({ field: document.getElementById('checkout') });
    console.log(picker2);
</script>
