<div class="mainContainer">
    <div class="textBox">
        <h1>Book a room online</h1>
        <p>You can book the room what you like the most.</p>
    </div>
    <div class="elemBox">
        <label>Type of Room:</label>
        <select #roomType>
            <option class="placehold" value="" disabled selected hidden>Select a type of room</option>
            <option *ngFor = "let i of roomsinList;" value={{i}}>{{i}}</option>
        </select>
    </div>
    <div class="lesserBox">
        <label>Check-in date:</label>
        <form #checkin="ngForm" novalidate>
            <my-date-picker placeholder="DD/MM/YYYY" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="checkinDate" required></my-date-picker>
        </form>
    </div>
    <div class="lesserBox">
        <label>Check-out date:</label>
        <form #checkout="ngForm" novalidate>
            <my-date-picker placeholder="DD/MM/YYYY" name="mydate" [options]="myDatePickerOptions" [(ngModel)]="checkoutDate" required></my-date-picker>
        </form>
    </div>
    <div class="miniContainer">
        <div class="miniBox">
            <label>Adults:</label>
            <input id="adultInput" placeholder="1" #adults value=1 type="number" min="1">
        </div>
        <div class="miniBox">
            <label>Children:</label>
            <input id="childInput" placeholder="0" #children value=0 type="number" min="0">
        </div>
    </div>
    <div class="buttonBox" (click) = "pushItem(roomType.value, checkin.value, checkout.value, adults.value, children.value)">
        <p>Book now</p>
    </div>
</div>



<datalist id="peopleList">
    <option *ngFor = "let i of peopleinList;" value={{i}}>
</datalist>
