.simpleHeader {
    max-height: 200px;
    min-height: 200px;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    position: absolute;
    top: 246px;
    padding: 10px 20px 10px 20%;
    transform: translate(-20%, 0);
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-align: right;
    background-color: rgb(78, 168, 220);
}
