
.simple-header {
  max-height: 200px;
  min-height: 200px;
  min-width: 100%;
  background: url('https://cdn.glitch.com/fede26cd-2622-4d50-b768-5da9b932383a%2Fmanha.jpg?1497953417054');
  background-repeat: no-repeat;
  background-size: cover;
}

