@import '../../../scss/grid.scss';
@import '../../../scss/break-points.scss';

.rooms {
    max-height: 200px;
    min-height: 200px;
    max-width: 670px;
    min-width: 670px;
    display: flex;
    background: white;
    margin: 25px 0px;
    box-shadow: 0px 1px 5px 0px rgba(240,237,240,1);
    @media screen and (max-width: $break-big) {
        max-height: 100%;
        min-height: 100%;
        max-width: 320px;
        min-width: 320px;
        display: block;
        margin-bottom: 30px;
        padding-bottom: 5px;
    }
}

.text-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
    margin-top: 15px;
    @media screen and (max-width: $break-big) {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

.title {
    font-weight: 900;
}

.image {
    max-height: 200px;
    min-height: 200px;
    max-width: 190px;
    min-width: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: $break-big) {
        margin-left: 75px;
    }
}

ul {
    margin-left: -37px;
    color: grey;
    font-size: 12px;
    font-weight: bolder;
    columns: 180px 2;
    list-style: inside disc;
    @media screen and (max-width: $break-big) {
        column-count: 1;
    }
}

li span {
    position:relative;
    left: -15px;
}

.feature-container {
    margin-bottom: 18px;
    margin-top: 10px;
    padding-bottom: 12px;
    border-bottom-style: dashed;
    border-bottom-color: #DEDEDE;
    line-height: 22px;
}

.price-container {
    display: flex;
}

.price {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 900;
}

.button {
    margin-left: 20px;
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px;
    background-color: rgb(50, 162, 227);
    color: white;
    font-weight: bold;
    cursor: pointer;
    @media screen and (max-width: $break-big) {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

.roomButton {
    margin-top: 20px;
    min-width: 668px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    color: rgb(49, 49, 49);
    background-color: rgb(232, 232, 232);
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(205, 205, 205);
    border-width: 1px;
    cursor: pointer;
    @media screen and (max-width: $break-collapse) {
        min-width: 318px;
    }
}
