<div class='hotel-cards-container'>
    <div class="hotels" *ngFor="let hotel of currentHotels">
        <div class='image' [ngStyle]="{'background-image': 'url('+hotel.attributes.main_image_src+')'}"></div>
        <div class="text-container">
            <div class="text-subcontainer">
                <h3 class="title">{{hotel.attributes.name}}</h3>
                <div *ngIf="!favorite" class="grey-star" (click)="favorite = !favorite"></div>
                <div *ngIf="favorite" class="yellow-star" (click)="favorite = !favorite"></div>
            </div>
            <div class="feature-container">
                <ul>
                    <li class="descr" *ngFor='let feature of hotel.features'> {{ feature }}</li>
                </ul>
            </div>
            <div class="price-container">
                <p class="price" >{{ hotel.attributes.amount }} {{ hotel.attributes.currency }}</p>
                <div class="button">Visit Hotel</div>
            </div>
        </div>
    </div>
    <div [class]= "buttonClass" (click) = "loadMoreRooms()">{{ buttonText }}</div>
</div>
