<div class='hotel-cards-container'>
  <div class="rooms" *ngFor="let room of rooms">
    <div class='image' [ngStyle]="{'background-image': 'url('+room.image+')'}"></div>
    <div class="text-container">
      <h3 class="title">{{room.roomtype}}</h3>
      <div class="feature-container">
        <ul>
          <li class="descr" *ngFor='let feature of room.features'><span> {{ feature }}</span></li>
        </ul> 
      </div>
      <div class="price-container">
        <p class="price" >{{ room.price }}</p>
      </div>
    </div>
  </div>
</div>