
<div class="simple-header">
  <app-simple-header text="Contact us" image="https://cdn.glitch.com/4d4b7a40-dc10-4300-bbe8-e4dd45f60e40%2Fpencil-education-pencil-sharpener-art-159731a.jpeg?1500412351640"></app-simple-header>
</div>
<div class="background-image"></div>
<div class="background">
  <div class="main-container">
    <h1>Give us a shout, dear</h1>
    <h3>If you have any concern or question feel free to drop a line!</h3>
    <div class="content-wrapper">
      <div class="google">
        <agm-map [styles]="customStyle" [latitude]="47.507408" [longitude]="19.066224" [zoom]="14">
          <agm-marker
            [latitude]="47.507408"
            [longitude]="19.066224">
            <agm-info-window [disableAutoPan]="true">Hi, here you find the Greenfox Travel headquarters. Come and visit us!
            </agm-info-window>
          </agm-marker>
	      </agm-map>
      </div>
      <form class="form-container">
        <input #first placeholder="First name" name="name">
        <input #last placeholder="Last name" name="name">
        <input #mail placeholder="Email">
        <textarea #msg name="name" rows="10" cols="50" placeholder="write your message here..."></textarea>
        <input class="button" value="Send" (click)="onSubmit(first, last, mail, msg)">
      </form>
    </div>
  </div>
</div>
