@import '../../../scss/break-points.scss';

section {
    margin-left: 30px;
    width: 200px;
    @media screen and (max-width: $break-big) {
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
}

.title {
    font-size: 20px;
    padding-bottom: 6px;

}

.option-box {
    display: flex;
    justify-content: space-between;
}

.subtitle {
    font-size: 16px;
    padding: 8px 0px;
    color: #757575;
}

form {
    padding-bottom: 4px;
}

.button {
    padding: 10px 0px;
    margin: 20px 0px;
    background-color: #00A8E8;
    text-align: center;
    color: #FFFFFF;
}

.button:hover {
    box-shadow: 2px 2px 2px #888888;
    cursor: pointer;
}

.input {
    height: 30px;
    width: 40px;
    font-size: 14px;
    border-radius: 8%;
    border-width: 2px;
    padding: 0px 6px;
}

div {
    font-weight: bold;
}

.item-box3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header {
    display: none;
    @media screen and (max-width: $break-big) {
        margin-bottom: 15px;
        width: 100%;
        text-align: left;
        font-weight: normal;
        font-size: 20px;
        display: inherit;
    }
}

.roomDescription {
    display: none;
    @media screen and (max-width: $break-big) {
        width: 320px;
        margin-bottom: 40px;
        padding-bottom: 40px;
        text-align: left;
        font-weight: normal;
        font-size: 14px;
        color: rgb(105, 105, 105);
        border-bottom: dashed;
        border-color: rgb(200, 200, 200);
        border-width: 1px;
        display: inherit;
    }
}
