<section>
  <div class="title">Edit your search</div>
  <div class="subtitle">Check in</div>
  <form #checkin="ngForm" novalidate>
      <my-date-picker name="mydate" [options]="myDatePickerOptions"[(ngModel)]="model" required></my-date-picker>
  </form>
  <div class="subtitle">Check out</div>
  <form #checkout="ngForm" novalidate>
      <my-date-picker name="mydate" [options]="myDatePickerOptions"[(ngModel)]="model" required></my-date-picker>
  </form>
  <div class="option-box">
    <div class='item-box'>
      <div class="subtitle">Room(s)</div>
      <input class="numberInput" placeholder="1" #rooms type="number" min="1" max="20">
    </div>
    <div class='item-box'>
      <div class="subtitle">Adults</div>
      <input class="numberInput" placeholder="1" #adults type="number" min="1" max="10">
    </div>
    <div class='item-box'>
      <div class="subtitle">Children</div>
      <input class="numberInput" placeholder="0" #children type="number" min="0" max="10">
    </div>
  </div>
  <div class="button"> Update</div>
</section>

