
.dynamicContainer {
  margin: 0;
  padding: 0;
  height: 1600px;
  background-image: url(beach.png);
  background-size: cover;
  background-position: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  line-height: 24px;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.search {
  margin-top: 1%;
  margin-bottom: 2%;
  width: 200px;
  line-height: 24px;
  font-size: 24px;
  color: lightgrey;
}

ul {
  list-style-type: none;
  padding: 0px;
}

// .dynamicGrid {
//   height: 150px;
//   background-color: rgba(255, 255, 255, 0);
//   @include grid(3, 2%);
// }

.gridElement {
  text-align: center;
  line-height: 130px;
  color: white;
  font-size: 50px;
  text-shadow:
  0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,0.1),
  0 0 5px rgba(0,0,0,0.1),
  0 1px 3px rgba(0,0,0,0.3),
  0 3px 5px rgba(0,0,0,0.2),
  0 5px 10px rgba(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.2),
  0 20px 20px rgba(0,0,0,0.15);
}
