<body>
    <!--<div class="inputContainer">
      <label>Search megtest:</label>
        <input class="search" [(ngModel)]="username" (ngModelChange)="onChange(username)">
        
        <app-slider></app-slider>
        <app-bookin-section></app-bookin-section>
    </div>-->
    <app-top-hotels></app-top-hotels>
    <!--<div class="dynamicContainer">
        <ul class="dynamicGrid" *ngFor = "let i of itemsFiltered;">
            <li class="gridElement">{{i}}</li>
        </ul>
    </div>-->
</body>
