.mainimage {
  //background-image: url(img1.jpg);
  //background-repeat: no-repeat;
  //background-position: center;
  width: 100%;
  height: 400px;
  background-color: #3b5998;
  font-size: 40px;
  position: relative;
}

section {
    width: 100%;
}

.arrow {
    width: 40px;
    height: 40px;
    z-index: 100;
}

.left {
    //transform: rotate(180deg);
    position: absolute;
    top: 40%;
    left: 0%;
}

.right {
    position: absolute;
    top: 40%;
    right: 0%;
}
img {
    width: 400px;
    height: auto;
}

.img-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    margin: auto;
    //transform
}

.actual-front {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    margin: auto;
    z-index: 98;
}

.translated-right {
    width: 100%;
    height: 100%;
    position: relative;
    left: 100%;
    //transform: translateX(-50px);
    //transition: position 0.5s 1s ease ;
    animation: from-right 0.6s ease forwards;
    //animation-fill-mode: forwards;
}

.translated-left {
    width: 100%;
    height: 100%;
    position: relative;
    left: -100%;
    //transform: translateX(100%); 
    animation: from-left 0.6s ease forwards;
    //animation-fill-mode: forwards;
}

@keyframes from-left {
    from {left: -100%; z-index: 99}
    to {left: 0%; z-index: 99}
}

@keyframes from-right {
    from {left: 100%; z-index: 99}
    to {left: 0%; z-index: 99}
}
/*.from-right {
    transform: translateY(50%);
    transition: all 0.5s 10s;
}*/

/*.fade-in {
     transition: 1s all;
}*/

