
<section>
    <div class="simple-header">
        <app-check-form></app-check-form>
        <app-simple-header></app-simple-header>
    </div>
    <div class="mainSection">
        <div class="mainContainer">
            <div class="hotelContainer">
                <h1 class="header">Select Room</h1>
                <p class="roomDescription">Welcome to our room selection site! Below you can see the rooms according to your search options. You can refine your search on the right side.</p>
                <app-hotel-cards></app-hotel-cards>
            </div>
            <div class="mapContainer"></div>
        </div>
    </div>
</section>
