
<section>
    <div class="simple-header">
        <app-simple-header text="Reservation" image="https://cdn.glitch.com/4d4b7a40-dc10-4300-bbe8-e4dd45f60e40%2Ffede26cd-2622-4d50-b768-5da9b932383a%252Fmanha.jpg?1499082732394"></app-simple-header>
    </div>
    <div class="mainSection">
        <app-check-form></app-check-form>
        <div class="mainContainer">
            <div class="hotelContainer">
                <app-hotel-cards></app-hotel-cards>
            </div>
            <!--<app-multi-location class="mapContainer"></app-multi-location>-->
        </div>
    </div>
</section>
