@import '../../scss/break-points.scss';

app-check-form {
    position: absolute;
    top: 290px;
    width: 100%;
    @media screen and (max-width: $break-big) {
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 25px;
    }
}

.mainSection {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.mainContainer {
    min-width: 975px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $break-big) {
        min-width: 320px;
        flex-direction: column-reverse;
    }
}

app-hotel-cards {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: $break-big) {
        width: 100%;
        margin-top: 50px;
    }
}

.hotelContainer {
    margin-bottom: 180px;
    min-width: 740px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-right: solid;
    border-width: 1px;
    border-color: rgb(205, 205, 205);
    @media screen and (max-width: 3800px) {
        min-width: 320px;
        padding-right: 0px;
        border: none;
    }
}

.header {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    @media screen and (max-width: $break-big) {
        display: none;
    }
}

.roomDescription {
    margin-bottom: 40px;
    padding-bottom: 20px;
    width: 570px;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
    color: rgb(105, 105, 105);
    border-bottom: dashed;
    border-color: rgb(200, 200, 200);
    border-width: 1px;
    @media screen and (max-width: $break-big) {
        width: 320px;
        display: none;
    }
}

.mapContainer {
    margin-top: 152px;
    margin-left: 20px;
	margin-bottom: 165px;
    width: 385px;
    height: 100vh;
    @media screen and (max-width: $break-big) {
        margin-top: 550px;
        margin-left: 0px;
    }
}
