* {
    margin: 0;
}

html, body {
    height: 91.3%;
    margin: auto;
}

header {
    min-height: 10%;
    background: red;
}

.wrapper {
    min-height: 100%;
    height: auto;
    height: 100%;
    display: flex;
    justify-content: center;
}

.footer {
    min-height: 10%;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
