* {
    margin: 0;
}

html, body {
    height: 86.8%;
    margin: auto;
}

app-root {
    height: 100%;
    min-width: 100%;
}

#header {
    min-height: 90px;
    height: 6.8%;
    background: rgb(25, 25, 25);
}

.wrapper {
    height: 100%;
    min-height: 1163px;
    height: auto;
    height: 100%;
}

#footer {
    min-height: 67px;
    height: 5.1%;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}
