@import '../../scss/break-points.scss';

app-bookin-section {
    position: absolute;
    line-height: 50px;
    top: 628px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 101;
    @media screen and (max-width: $break-big) {
        top: 728px;
    }

}

.slider {
    height: 50.5%;
    min-height: 588px;
    max-height: 588px;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

app-slider {
    min-height: 588px;
    max-height: 588px;
}

app-slider {
  width: 100%;
}

.topHotels {
    height: 49.5%;
    min-height: 575px;
    min-width: 100%;
    background: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
