<div class="fullWidthHolder">
    <div class="gradientBorderTop"></div>
    <div class="whiteShadow">
        <ul class="navContainer">
            <li><a #link [routerLink]="['/hotel/overview']" class="navigation">Overview</a></li>
            <li><a #link [routerLink]="['/hotel/rooms']" class="navigation">Rooms</a></li>
            <li><a #link [routerLink]="['/hotel/map']" class="navigation">Map</a></li>
        </ul>
    </div>
    <div class="gradientBorder"></div>
    <div class="gradientShadow"></div>
</div>
