@import '../../.././scss/break-points.scss';

.fullWidthHolder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.whiteShadow {
    width: 100%;
    max-width: 975px;
    height: 50px;
    position: absolute;
    top: 679px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 1100;
    @media screen and (max-width: $break-collapse) {
        width: 100%;
        background: rgba(255, 255, 255, 0.8);
    }
}

.gradientBorder {
    width: 100%;
    max-width: 975px;
    height: 1px;
    position: absolute;
    top: 730px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(190, 190, 190, 1), rgba(255, 255, 255, 0));
    @media screen and (max-width: $break-collapse) {
        width: 100%;
    }
}

.gradientBorderTop {
    width: 100%;
    max-width: 975px;
    height: 1px;
    position: absolute;
    top: 678px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(190, 190, 190, 1), rgba(255, 255, 255, 0));
    z-index: 1100;
    @media screen and (max-width: $break-collapse) {
        width: 100%;
    }
}

.gradientShadow {
    width: 100%;
    max-width: 975px;
    height: 10px;
    position: absolute;
    top: 726px;
    background: radial-gradient(rgba(190, 190, 190, 0.3), rgba(255, 255, 255, 0));
    @media screen and (max-width: $break-big) {
        width: 100%;
    }
}

.navContainer {
    min-width: 200px;
    display: flex;
    justify-content: flex-end;
}

.navigation {
    color: rgb(55, 55, 55);
    padding: 0px 17px;
    line-height: 50px;
}
